{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Groups</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="{% static "js/menu.js" %}"></script>
</head>
<body>
<div class="menu">

    <!-- Иконка меню -->
    <div class="icon-close">
        <img src={% static 'images/close-btn.png' %}>

    </div>

    <!-- Меню -->
    <ul>
        <li><a href="#">Пункт1</a></li>
        <li><a href="#">Пункт2</a></li>
        <li><a href="#">Пункт3</a></li>
        <li><a href="#">Пункт4</a></li>
    </ul>
</div>

<div class="icon-menu">
    <img src="{% static 'images/menu-ham-icon.png' %}">
    меню
</div>


{% block content %}<!-- Main body -->

{% endblock content %}
</body>
</html>
